<link rel="stylesheet" href="/main.css" type="text/css">
<div class="container-fluid text-center">
  <h1 class="my-5">Hi <%= name %>
  </h1>
  <h2>Welcome to the posts you love Xd. Here you can post about the things you love</h2>
  <p class="fs-3 py-3">"This is where the user submitted posts will be shown"</p>
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-primary my-3">Log Out</button>
  </form>
</div>