<link rel="stylesheet" href="/main.css" type="text/css">

<h1 class="text-center my-5">Register</h1>
<div class="container-xl text-center">
   <form action="/register" method="POST">
     <div class="my-3">
       <label for="name">Name</label>
       <input class="fix-input" type="text" id="name" name="name" required>
     </div>
     <div class="my-3">
       <label for="email">Email</label>
       <input class="fix-input type="email" id="email" name="email" required>
     </div>
     <div class="my-3">
       <label class="fix-label" for="password">Password</label>
       <input type="password" id="password" name="password" required>
     </div>
     <button  type="submit" class="btn btn-primary my-3">Register</button>
   </form>
   <a href="/login">Login</a>
</div>
